* {
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
    clear: both;
}

.left {
    float:left;
}
.right {
    float:right;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	padding: 20px 0;
}

#header.default {
	position: fixed;
	top: 0;
	background: #fefefe;
	-webkit-box-shadow: 0 2px 2px #444;
	   -moz-box-shadow: 0 2px 2px #444;
		-ms-box-shadow: 0 2px 2px #444;
		 -o-box-shadow: 0 2px 2px #444;
			box-shadow: 0 2px 2px #444;
}




#arr {
	position: absolute;
	width: 50px;
    height: 50px;
	border-radius: 50%;
	background: #fff;
	z-index: 9999;
	position: fixed;
    margin-left: 93%;
    margin-top: 50%;
    display: none;
    border: 2px solid #111;
    font-family: sans-serif;
    outline: none;  
}

#up {
    position: absolute;
    width: 50px;
    height: 50px;
	border-radius: 50%;
    padding: 15px 0 0 12px;
    color: #111;
} 

#up:hover {
    color: #FED136;
}

#arr.block {
	display: block;	  
}

#arr.block:hover {
    border: 2px solid #FED136;
}

.logo {
	float: left;
	margin-right: 10px;
}

.nav {
	float: right;
	padding-top: 5px;
}

.nav li {
	float: left;
	margin-right: 35px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
	text-transform: uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}

#header.default .nav a {
    color: #222;
}

.nav a:hover,
#header.default .nav a:hover {
    color: #f0c01b;
}

#home {
	height: 700px;
	background: #000 url(../img/section-top-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;	
}

#home {
	padding-top: 270px;
	text-align: center;
	color: #fff;
}

#home h3 {
	margin-bottom: 40px;
	text-transform: capitalize;
	font: 40px/46px Arial, sans-serif;
}
#home h1 {
	margin-bottom: 55px;
	text-transform: uppercase;
	font: 75px/80px Arial, sans-serif;
}

.btn {
	display: inline-block;
	padding: 20px 30px;
	text-transform: uppercase;
	text-align: center;
	font: bold 24px/24px Arial, sans-serif;
	color: #fff;
}

.btn-warning {
	background: #FED136;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
	        border-radius: 3px;
}

.services .title1 {
    font: bold;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 11px 0;
    font-family: sans-serif; 
}

.services .title2 {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777777;
}

.services .block, 
.services .block1, 
.services .block2 {
    display: inline-block;
    width: 30%;
    margin: 0 4% 0 0;
    margin-top: 74px;
    text-align: center;   
} 

.services .block2 {
    margin: 0 0 0 0;
}
   
.services .wrap {
    width: 940px;
    margin: 0 auto;
    padding: 120px 0;
}   

.services .block .title, 
.services .block1 .title, 
.services .block2 .title {
    font-size: 18px;
    font-weight: 700;
    font: Droid Serif;
    text-align: center;
    margin-top: 25px;
    font-family: sans-serif;
}

.services .block .text, 
.services .block1 .text, 
.services .block2 .text {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.5;
}

.portfolio {
    width: 100%;
    background: #F8F8F8;
}

.portfolio .wrap {
    width: 940px;
    margin: 0 auto;
    padding: 120px 0;
}

.portfolio .wrap .our {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
}

.portfolio .wrap .proin {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777;
    margin: 0 0 23px 0;
}

.portfolio .wrap .content1, 
.portfolio .wrap .content2,
.portfolio .wrap .content3,
.portfolio .wrap .content4,
.portfolio .wrap .content5,
.portfolio .wrap .content6 {
    display: inline-block;
    width: 290px;
    height: 393px;
    text-align: center;
    margin: 0 3% 0 0;
    margin-top: 50px;
    background: #fff;
}

.portfolio .wrap .content3,
.portfolio .wrap .content6 {
   margin: 0 0 0 0; 
}

.portfolio .wrap .content1 .title1,  
.portfolio .wrap .content2 .title1,
.portfolio .wrap .content3 .title1,
.portfolio .wrap .content4 .title1,
.portfolio .wrap .content5 .title1,
.portfolio .wrap .content6 .title1 {
    font-size: 18px;
    font-weight: 700;
    font-style: Bold;
    margin: 29px 0 4px 0;
    font-family: sans-serif;
} 

.portfolio .wrap .content1 .title2,  
.portfolio .wrap .content2 .title2,
.portfolio .wrap .content3 .title2,
.portfolio .wrap .content4 .title2,
.portfolio .wrap .content5 .title2,
.portfolio .wrap .content6 .title2 {
    font-size: 14px;
    font-style: Italic;
    font-family: sans-serif; 
    color: #737373;
}

.about_us {
    padding: 120px 0;
    width: 100%;
}

.about_us .wrap {
    width: 940px;
    text-align: center;
    margin: 0 auto;
}

.about_us .wrap .title1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
}

.about_us .wrap .title2 {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777;
    margin: 0 0 82px 0;
}

.about_us .wrap .container2,
.about_us .wrap .container4 {
    
    position: absolute;
    width: 306px;
    text-align: left;
    margin: 0 0 0 650px
}

.about_us .wrap .container1,
.about_us .wrap .container3{
    position: absolute;
    float: left;
    width: 306px;
    text-align: right;    
}

.about_us .wrap .container3 {
    margin-top: -170px;
}

.about_us .wrap .hr {
    background: #f1f1f1;
    height: 93px;
    width: 2px;
    margin: -5px auto -1px auto;
}

.about_us .wrap .container2 .title,
.about_us .wrap .container4 .title,
.about_us .wrap .container1 .title,
.about_us .wrap .container3 .title {
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    font-style: Bold;
    margin-bottom: 17px;
}

.about_us .wrap .container2 .text,
.about_us .wrap .container4 .text,
.about_us .wrap .container1 .text,
.about_us .wrap .container3 .text {
    font-size: 14px;
    color: #777;
    font: Roboto Slab;
    font-style: Regular;
    font-weight: 400;
    line-height: 1.5
}

.about_us .wrap .t {
    position: absolute;
    color: #fff;
    font-weight: 700;
    margin: -122px 0 0 413px;  
}

.team {
    background: #f9f9f9;
}

.team .wrap .title1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
}

.team .wrap .title2 {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777;
    margin: 0 0 74px 0;
}

.team .wrap {
    width: 940px;
    margin: 0 auto;
    padding: 120px 0;
}

.team .wrap .block1, .block2, .block3 {
    display: inline-block;
    width: 234px;
    height: 342px;
    margin: 0 12% 0 auto;
}

.team .wrap .block3 {
    margin: 0 0 0 0;
}

.team .wrap .block1 .title1, 
.team .wrap .block2 .title1, 
.team .wrap .block3 .title1 {
    font-size: 18px;
    font-weight: 700;
    font-style: Bold;
    margin: 19px 0 4px 0;
    font-family: sans-serif;
}

.team .wrap .block1 .title2, 
.team .wrap .block2 .title2, 
.team .wrap .block3 .title2 {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777;
    margin: 0 auto 14px auto;
}

.team .container {
    width: 234px;
    margin: 0 auto; 
}

.team .container .twit,
.team .container .f,
.team .container .gplus {
    margin: 0 10px 0 0;  
}

.team .container .gplus {
    margin:  0 0 0 0;
}

.team .container .twit {
    margin: 0 10px 0 32px;
}

.team .text {
    color: #777;
    font-weight: 400;
    font-size: 16px;
    font-style: Regular;
    font: Roboto Slab;
    text-align: center;
    width: 600px;
    height: 42px;
    margin: 51px auto 0 auto;
}

.emblem {
    padding: 120px 0;   
}

.emblem .wrap {
    margin: 0 auto;
    width: 780px;
    height: 
}

.emblem .wrap .im1,
.emblem .wrap .im2,
.emblem .wrap .im3,
.emblem .wrap .im4 {
    padding: 0 40px 0 0;
    margin: 0 auto;
}

.emblem .wrap .im4 {
    padding: 0 0;
}

.con {
    background: #222;
}

.con .map {
    background: url(../img/contact_as/map.png) no-repeat right bottom;
    width: 100%; 
}

.con .wrap {
    width: 940px;
    padding: 120px 0;
    margin: 0 auto;   
}

.con .wrap .title1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #fff;
}

.con .wrap .title2 {
    font: Droid Serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #777;
    margin: 23px 0 75px 0;
}

.con .map .wrap .left,
.con .map .wrap .right {
    width: 48%;
}

.con .name,
.con .email,
.con .name1 {
    color: #bbb;
    font-weight: 700;
    font-size: 14px;
    font-style: Bold;
    font: Montserrat;
    text-align: left;
    padding: 20px 0 22px 21px;
    width: 436px;
    margin: 0 0 27px 0;
    border-radius: 5px;
    border: none;
}

.con .name1 {
    margin: 0 0 0 0;
}

.con .textarea {
    color: #bbb;
    font-weight: 700;
    font-size: 14px;
    font-style: Bold;
    font: Montserrat;
    text-align: left;
    padding: 20px 0 0 21px;
    width:  436px;
    height: 233px;
    margin: 0 0 27px 0;
    resize: none;
    border-radius: 5px;
}

.con .btn {
    width: 940px;   
    padding: 0 0 0 0;
}

.con .submit {
	padding: 20px 30px;
	text-transform: uppercase;
	text-align: center;
	font: bold 24px/24px Arial, sans-serif;
	color: #fff;
    margin: 0 auto;
    border-radius: 2px;
    background: #fed136;
    border: none;
    outline: none;
}

.footer .wrap {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;   
} 

.footer .wrap .des {
    display: block;
    float: left    
}

.footer .wrap .aa {  
    display: block;   
}

.footer .text {
    padding: 14px 0;
    font-size: 14px;
    color: #555;
    font-weight: 400;
    font: Montserrat;
    font-style: Regular;   
}

.footer .t,
.footer .fe,
.footer .g {
    margin: 0 10px 0 5px;
}

.footer .g {
    margin: 0 0 0 5px;
}

.footer .t {
    margin: 0 10px 0 165px;
}
